@media (min-width: 1000px) {

    body{
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
    }

    header{
        position: fixed;
        top: 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        background-color: #e0ebe8;
        height: 8vh;
        width: 100vw;
    }

    #navbar{
        /* outline: magenta solid 1px; */
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 35vw;
    }

    #navbar a {
        /* outline: blue solid 1px; */
        color: #008080;
        width: 10vw;
        font-size: 15px;
    }

    #welcome-section {
        display: flex;
        flex-direction: column;
        background-color: #e0ebe8;
        height: 100vh;
        width: 100vw;

    }

    #welcome-section h1{
        /* outline: magenta 1px solid; */
        text-align: center;
        margin-top: auto;
        margin-bottom: 0;
        font-size: 30px;
    }

    #welcome-section p{
        /* outline: blue 1px solid; */
        text-align: center;
        margin-top: 5px;
        margin-bottom: auto;
        font-size: 15px;
        color: green;
    }

    /* --------------------Projects------------------------- */

    #projects{
        /* outline: green solid 1px; */
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 130vh;
        width: 100vw;
    } 

    .projects-container{
        /* outline: blue solid 1px;     */
    }

    #projects h1{
        /* outline: blue solid 1px; */
        text-align: center;
        margin-top: 7vh;
        margin-bottom: 0vh;
        font-size: 23px;
        font-weight: normal;
        color: #008080;
    }

    #projects .projects-group{
        /* outline: magenta solid 1px; */
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 70vw;
        margin-top: 10vh;
        margin-bottom: 7vh;
    }

    #projects div a{
        border: lightblue solid 2px;
        display: flex;
        flex-direction: column;
        text-decoration: none;
        text-align: center;
        font-size: 16px;
        color: #008080;
    }

    #projects div a .projects-title{
        border-top:lightblue solid 2px;
        width: 300px;
        height: 30px;
        padding-top: 10px;
    }

    #profile-link{
        border: #90C695 solid 2px;
        color: #008080;
        background: #e0ebe8;
        width: 200px;
        height: 30px;
        text-decoration: none;
        text-align: center;
        font-size: 16px;
        padding-top: 10px;
        border-radius: 4px;
        
    }
    /* --------------------Contact------------------------- */

    #contact{
        width: 100vw;
        height: 100vh;
        background: #C8F7C5;
    }

    #contact h1{
        /* outline: black solid 1px; */
        font-size: 30px;
        text-align: center;
        padding-top: 25vh;
        font-weight: normal;
        margin-bottom: 0;

    }

    #contact p{
        /* outline: magenta solid 1px; */
        text-align: center;
        font-size: 16px;
        margin-top: 1vh;
    }

    #contact-links {
        /* outline: orange solid 1px; */
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        height: 60vh;
        width: 70vw;
        margin-left: auto;
        margin-right: auto;
    }

    #contact-links a{
        display: inline-block;
        border: #90C695 solid 2px;
        width: 100px;
        height: 100px;
        text-align: center;
        vertical-align: middle;
        font-size: 16px;
        border-radius: 100%;
        text-decoration: none;
        line-height: 100px;
        white-space: nowrap;
        background: #e0ebe8;
        color: #008080;
        font-weight: bold;
    }

}

@media (max-width: 999px) {

    body{
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
    }

    header{
        position: fixed;
        top: 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        background-color: #e0ebe8;
        height: 8vh;
        width: 100vw;
    }

    #navbar{
        /* outline: magenta solid 1px; */
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100vw;
    }

    #navbar a {
        /* outline: blue solid 1px; */
        color: #008080;
        width: 100vw;
        font-size: 45px;
        text-align: center
    }

    #welcome-section {
        display: flex;
        flex-direction: column;
        background-color: #e0ebe8;
        height: 100vh;
        width: 100vw;
    }

    #welcome-section h1{
        /* outline: magenta 1px solid; */
        text-align: center;
        margin-top: auto;
        margin-bottom: 0;
        font-size: 100px;
    }

    #welcome-section p{
        /* outline: blue 1px solid; */
        text-align: center;
        margin-top: 5px;
        margin-bottom: auto;
        font-size: 50px;
        color: #008080;
    }

/* --------------------Projects------------------------- */
    #projects{
        /* outline: green solid 1px; */
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 150vh;
        width: 100vw;
    } 

    #projects h1{
        /* outline: blue solid 1px; */
        text-align: center;
        margin-top: 0vh;
        margin-bottom: 0vh;
        font-size: 65px;
        font-weight: normal;
        color: #008080;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }

    .projects-container{
        /* outline: blue solid 1px; */
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 400vh;
        width: 75vw;     
    }

    #projects .projects-group{
        /* outline: magenta solid 1px; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 75vw;
        height: 200vh;
    }

    #projects div a{
        border: lightblue solid 2px;
        display: flex;
        flex-direction: column;
        text-decoration: none;
        text-align: center;
        font-size: 16px;
        color: #008080;
        height: 30vh;
        width: 60vw;
        
    }

    .project-pic {
        /* outline: black solid 1px; */
        width: 60vw;
        height: 25vh;
    }

    #projects div a .projects-title{
        border-top: lightblue solid 2px;
        /* outline: red solid 1px; */
        padding-top: 1vh;
        font-size: 40px;
    }

    #profile-link{
        border: #90C695 solid 5px;
        color: #008080;
        background: #e0ebe8;
        width: 55vw;
        height: 18vh;
        text-decoration: none;
        text-align: center;
        font-size: 48px;
        padding-top: 10px;
        border-radius: 8px; 
        padding-top: 2vh;  
        margin-top: 2vh;

    }

}