@media (min-width: 1000px) {

    body{
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
    }

    header{
        position: fixed;
        top: 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        background-color: #e0ebe8;
        height: 8vh;
        width: 100vw;
    }

    #navbar{
        /* outline: magenta solid 1px; */
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 35vw;
    }

    #navbar a {
        /* outline: blue solid 1px; */
        color: #008080;
        width: 10vw;
        font-size: 15px;
    }

    #welcome-section {
        display: flex;
        flex-direction: column;
        background-color: #e0ebe8;
        height: 100vh;
        width: 100vw;

    }

    #welcome-section h1{
        /* outline: magenta 1px solid; */
        text-align: center;
        margin-top: auto;
        margin-bottom: 0;
        font-size: 30px;
    }

    #welcome-section p{
        /* outline: blue 1px solid; */
        text-align: center;
        margin-top: 5px;
        margin-bottom: auto;
        font-size: 15px;
        color: green;
    }
}

@media (max-width: 999px) {

    body{
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
    }

    header{
        position: fixed;
        top: 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        background-color: #e0ebe8;
        height: 8vh;
        width: 100vw;
    }

    #navbar{
        /* outline: magenta solid 1px; */
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100vw;
    }

    #navbar a {
        /* outline: blue solid 1px; */
        color: #008080;
        width: 100vw;
        font-size: 45px;
        text-align: center
    }

    #welcome-section {
        display: flex;
        flex-direction: column;
        background-color: #e0ebe8;
        height: 100vh;
        width: 100vw;
    }

    #welcome-section h1{
        /* outline: magenta 1px solid; */
        text-align: center;
        margin-top: auto;
        margin-bottom: 0;
        font-size: 100px;
    }

    #welcome-section p{
        /* outline: blue 1px solid; */
        text-align: center;
        margin-top: 5px;
        margin-bottom: auto;
        font-size: 50px;
        color: green;
    }
}